<app-header></app-header>
<body class="body">
    <div class="ppal">
        <div class="timeline">
            <div class="container left">
                <div class="content">
                    <p>Agosto 2021 - Actualidad</p>
                    <br />
                    <h1>Full-stack Web Developer Jr</h1>
                    <br />
                    <p>Profesional independiente</p>
                    <p>Barcelona, España</p>
                </div>
            </div>
            <div class="container right">
                <div class="content">
                    <p>Abril 2018 - Noviembre 2021 · 3 años 8 meses</p>
                    <br />
                    <h1>Analista de Ecommerce</h1>
                    <br />
                    <p>Aquachlor S.A.</p>
                    <p>Capital Federal, Argentina</p>
                </div>
            </div>
            <div class="container left">
                <div class="content">
                    <p>Febrero 2009 - Abril 2020 · 11 años 3 meses</p>
                    <br />
                    <h1>Proyectista Electrico Semi-senior</h1>
                    <br />
                    <p>TECMAS S.A.</p>
                    <p>Buenos Aires, Argentina</p>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
