<app-header></app-header>
<body>
    <div class="ppal">
        <div class="timeline">
            <div class="container left">
                <div class="content">
                    <p>Septiembre 2022 - Actualidad</p>
                    <br />
                    <h1>Recepcionista</h1>
                    <br />
                    <p>The Loft Hostel Barcelona</p>
                    <p>Barcelona, España</p>
                </div>
            </div>
            <div class="container right">
                <div class="content">
                    <p>Abril 2018 - Noviembre 2021 · 3 años 8 meses</p>
                    <br />
                    <h1>Analista de Ecommerce</h1>
                    <br />
                    <p>Aquachlor S.A.</p>
                    <p>Capital Federal, Argentina</p>
                </div>
            </div>
            <div class="container left">
                <div class="content">
                    <p>Febrero 2009 - Abril 2020 · 11 años 3 meses</p>
                    <br />
                    <h1>Proyectista Electrico Semi-senior</h1>
                    <br />
                    <p>TECMAS S.A.</p>
                    <p>Buenos Aires, Argentina</p>
                </div>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
