<header class="header__container">
    <div class="header">
        <a routerLink="/principal" routerLinkActive="Inicio">Inicio</a>
        <a routerLink="/acerca" routerLinkActive="Acerca">Acerca</a>
        <a routerLink="/habilidades" routerLinkActive="Habilidades"
            >Habilidades</a
        >
        <a routerLink="/servicios" routerLinkActive="Servicios">Servicios</a>
        <a routerLink="/experiencia" routerLinkActive="Experiencia"
            >Experiencia</a
        >
        <a routerLink="/contacto" routerLinkActive="Contacto">Contacto</a>
    </div>
</header>

<router-outlet></router-outlet>
