.header__container {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 15rem;

        a {
            text-align: center;
            color: #3a3a3a;
            font-family: "Montserrat Alternates", sans-serif;
            text-decoration: none;
            font-size: 20px;
        }
    }
}
