<body>
    <div class="header">
            <div><a routerLink="/principal" routerLinkActive="Inicio">Inicio</a></div>
            <div><a routerLink="/acerca" routerLinkActive="Acerca">Acerca</a></div>
            <div><a routerLink="/habilidades" routerLinkActive="Habilidades">Habilidades</a></div>
            <div><a routerLink="/servicios" routerLinkActive="Servicios">Servicios</a></div>
            <div><a routerLink="/experiencia" routerLinkActive="Experiencia">Experiencia</a></div>
            <div><a routerLink="/contacto" routerLinkActive="Contacto">Contacto</a></div>
    </div>
</body>
<router-outlet></router-outlet>
