.body {
    display: flex;

    .card-ppal {
        display: flex;
        flex-wrap: wrap;
        float: right;
        width: 950px;
        height: 900px;
        font-size: 20px;
        padding: 3rem 10rem 0rem 12rem;

        a {
            text-decoration: none;
        }

        .matStyle {
            width: 250px;
            height: 150px;
            margin: 10px;

            .card-f {
                margin: 70px 0px 0px 150px;
                justify-content: right;
            }

            .card-ti {
                width: 350px;
                height: 30px;
                justify-content: right;
            }
        }
    }
}
