<app-header></app-header>
<body class="body">
    <div class="card-ppal">
        <mat-card class="matStyle">
            <mat-icon aria-hidden="false" aria-label="Example code icon"
                >code</mat-icon
            >

            <mat-card-title class="card-ti">Developer Frontend</mat-card-title>

            <mat-card-footer class="card-f">
                <a routerLink="/habilidades" routerLinkActive="Habilidades"
                    >Ver mas</a
                >
            </mat-card-footer>
        </mat-card>

        <mat-card class="matStyle">
            <mat-icon aria-hidden="false" aria-label="Example code icon"
                >code</mat-icon
            >

            <mat-card-title class="card-ti">Developer Backend</mat-card-title>

            <mat-card-footer class="card-f">
                <a routerLink="/habilidades" routerLinkActive="Habilidades"
                    >Ver mas</a
                >
            </mat-card-footer>
        </mat-card>

        <mat-card class="matStyle">
            <mat-icon aria-hidden="false" aria-label="Example code icon"
                >code</mat-icon
            >

            <mat-card-title class="card-ti">Data bases</mat-card-title>

            <mat-card-footer class="card-f">
                <a routerLink="/habilidades" routerLinkActive="Habilidades"
                    >Ver mas</a
                >
            </mat-card-footer>
        </mat-card>
    </div>
</body>
<app-footer></app-footer>
