<!-- hero-->
<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img
                src="assets/slider/ang.png"
                height="100"
                width="200"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="assets/slider/nj.png"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="assets/slider/html.jpg"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="assets/slider/css3.jpg"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="assets/slider/bootstrap-logo.svg"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="assets/slider/mt.png"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="assets/slider/ang.png"
                height="100"
                width="200"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="assets/slider/nj.png"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="../../../assets/slider/html.jpg"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="../../../assets/slider/css3.jpg"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="../../../assets/slider/bootstrap-logo.svg"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide">
            <img
                src="../../../assets/slider/mt.png"
                height="100"
                width="100"
                alt=""
            />
        </div>
        <div class="slide"></div>
    </div>
</div>
