<app-header></app-header>
<app-hero></app-hero>
<body class="body">

  <div class="ppal">

    <div class="ppal1">

      <h1>Hola, soy Guido</h1>

    </div>

    <br>

      <div class="ppal2">

      <h4>Full Stack Web Developer Jr.</h4>

    </div>

    <br>

        <div class="ppal3">

      <p>Alto nivel y experiencia en el desarrollo web y diseño con tecnologias de ultima generacion.</p>

    </div>


    <br>

  </div>

    <div class="ppal4">

        <img style="width: 50%;" src="../../../../assets/WhatsApp Image 2022-03-22 at 18.47.26.jpeg" alt="">

      </div>


</body>
<app-footer></app-footer>
