<app-header></app-header>
<app-hero></app-hero>
<body class="body">
    <div class="ppal1">
        <div><h1>Hola, soy</h1></div>

        <div><h1>Guido</h1></div>

        <div><h4>Full Stack Web Developer Jr.</h4></div>

        <div>
            <p>
                Alto nivel y experiencia en el developer web y diseño con
                tecnologias de ultima generacion.
            </p>
        </div>

        <div>
            <button class="" mat-raised-button color="primary">
                Contactame
            </button>
        </div>

        <br />
    </div>
        <div class="ppal2">
            <img
                style="width: 35%"
                src="assets/WhatsApp Image 2022-03-22 at 18.47.26 (1) (1).jpg"
                alt="Guido"
            />
        </div>
</body>
<app-footer></app-footer>
