.body {
    display: flex;
    // flex-direction: row;
    height: 420px;
    // justify-content: content;

    .ppal1 {
        flex-direction: column;
        font-size: 20px;
        padding: 120px 0px 0px 360px;
        gap: 100px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

        .ppal1 > div {
            width: 500px;
        }
    }

    .ppal2 {
        padding: 120px 0px 0px 50px;
    }
}
