<app-header></app-header>
<app-hero></app-hero>
<body>
    <div class="ppal">
    <div class="ppal1">
        <div><h1>Hey, soy</h1></div>

        <div><h1>Guido</h1></div>

        <div><h4>Full Stack Web Developer Jr.</h4></div>

        <div>
            <p>
                Alto nivel y experiencia en el developer web y diseño con
                tecnologias de ultima generacion.
            </p>
        </div>

        <div>
            <button class="" mat-raised-button color="primary">
                Contactame
            </button>
        </div>

        <br />
    </div>
        <div class="ppal2">
            <div><img
                style="width: 35%"
                src="src/assets/fotoCentral.png"
                alt="Guido"
            /></div>
            </div>
        </div>
</body>
<app-footer></app-footer>
