.body {
    display: flex;

    .ace {
        float: right;
        height: 500px;
        width: 300px;
        padding: 5rem 20rem 0rem 0rem;
        font-size: 10px;
        text-align: left;

        .ace1 {
            width: 500px;
            height: 100px;
            justify-content: left;
        }

        .ace2 {
            width: 100px;
            height: 100px;
            justify-content: left;
        }

        .ace3 {
            width: 100px;
            height: 100px;
            justify-content: left;
        }

        .ace5 {
            width: 500px;
            height: 100px;
            justify-content: left;
        }
    }

    .ace6 {
        padding: 5rem 0rem 0rem 12rem;
    }
}
