<app-header></app-header>
<body>
    <div class="ace">
        <div class="ace2">
            <div>
                <img
                    style="width: 90%"
                    src="assets/acerca de.jpg"
                    alt="acerca de"
                />
            </div>
        </div>
        <div class="ace1">
            <div>
                <h1>
                    Realice un Bootcamp de Developer Web Full Stack con
                    certificación oficial de la Universidad de Cordoba,
                    Argentina.
                </h1>
            </div>

            <div>
                <h1>01+</h1>
                <h3>Años de Experiencia</h3>
            </div>

            <div>
                <h1>05+</h1>
                <h3>Proyectos realizados</h3>
            </div>

            <div>
                <button class="#" mat-raised-button color="primary">
                    Descargar CV
                </button>
            </div>
        </div>
    </div>
</body>
<app-footer></app-footer>
