<app-header></app-header>

            <div class="title">

            <h2>Acerca de mi</h2>

          </div>

          <body class="body">

            <div class="ace6">

              <img style="width: 50%;" src="../../../../assets/WhatsApp Image 2022-03-22 at 18.47.26 (1).jpg" alt="Guido">

            </div>

            <div class="ace">

              <div class="ace1">

                <h1>Realice un Bootcamp de Developer Web Full Stack con certificación oficial de la Universidad de Cordoba, Argentina.</h1>
              </div>

              <br>
              <br>

              <div class="ace2">

                <h1>01+</h1>
                <h3>Años de Experiencia</h3>
              </div>

              <br>
              <br>

              <div class="ace3">

                <h1>05+</h1>
                <h3>Proyectos realizados</h3>
              </div>

              <div class="ace5">

                <br>
                <br>

                <button class="#" mat-raised-button color="primary">Descargar CV</button>

              </div>

            </div>

          </body>
<app-footer></app-footer>
