.title {
  background-color: #f4f4f4;
  margin: 0 auto;
  padding: 1rem 0rem 1rem 27rem;
}

.body {
  display: flex;
  background-color: #f4f4f4;

  .hab-ppal {
    float: right;
    margin: auto;
    margin-top: 110px;
    width: 900px;
    padding: 0rem 0rem 0rem 8rem;
    font-size: 20px;
    text-align: left;

    .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }

    .hab1 {
      width: 350px;
      height: 30px;
      justify-content: right;

      .tecn-1 {
        display: flex;

        .porc-1 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }

      .tecn-2 {
        display: flex;

        .porc-2 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }

      .tecn-3 {
        display: flex;

        .porc-3 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }
    }

  }

    .hab12 {
      width: 350px;
      height: 100%;
      padding:  5.5rem 2rem 0rem 2rem;
      align-items: flex-start;
      text-align: center;

      .tecn-12 {
        display: flex;

        .porc-12 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }

      .tecn-22 {
        display: flex;

        .porc-22 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }

      .tecn-32 {
        display: flex;

        .porc-32 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }
    }

    .hab13 {
      width: 350px;
      height: 100%;
      padding:  5.5rem 17rem 0rem 0rem;
      align-items: flex-start;
      text-align: center;

      .tecn-13 {
        display: flex;

        .porc-13 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }

      .tecn-23 {
        display: flex;

        .porc-23 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }

      .tecn-33 {
        display: flex;

        .porc-33 {
          align-items: center;
          justify-content: space-between;
          padding: 0rem 0rem 0rem 9.5rem;
        }
      }
    }


}
