<app-header></app-header>
<body class="body">
    <div class="habil">
        <div class="hab11">
            <mat-accordion>
                <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon
                                aria-hidden="false"
                                aria-label="Example code icon"
                                >code</mat-icon
                            >
                            Developer Frontend
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="tecn-11">
                        <p>HTML</p>
                        <p Class="porc-11">90%</p>
                    </div>
                    <mat-progress-bar
                        mode="determinate"
                        value="90"
                    ></mat-progress-bar>

                    <br />

                    <div class="tecn-12">
                        <p>CSS</p>
                        <p Class="porc-12">90%</p>
                    </div>
                    <mat-progress-bar
                        mode="determinate"
                        value="90"
                    ></mat-progress-bar>

                    <br />

                    <div class="tecn-13">
                        <p>ANGULAR</p>
                        <p Class="porc-13">85%</p>
                    </div>
                    <mat-progress-bar
                        mode="determinate"
                        value="90"
                    ></mat-progress-bar>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="hab21">
            <mat-accordion>
                <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon
                                aria-hidden="false"
                                aria-label="Example code icon"
                                >code</mat-icon
                            >
                            Developer Backend
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="tecn-21">
                        <p>NODE JS</p>
                        <p Class="porc-21">90%</p>
                    </div>
                    <mat-progress-bar
                        mode="determinate"
                        value="90"
                    ></mat-progress-bar>

                    <br />

                    <div class="tecn-22">
                        <p>EXPRESS</p>
                        <p Class="porc-22">90%</p>
                    </div>
                    <mat-progress-bar
                        mode="determinate"
                        value="90"
                    ></mat-progress-bar>
                </mat-expansion-panel>
            </mat-accordion>
        </div>

        <div class="hab31">
            <mat-accordion>
                <mat-expansion-panel
                    (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon
                                aria-hidden="false"
                                aria-label="Example code icon"
                                >code</mat-icon
                            >
                            Data Bases
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="tecn-31">
                        <p>MY SQL</p>
                        <p Class="porc-31">90%</p>
                    </div>
                    <mat-progress-bar
                        mode="determinate"
                        value="90"
                    ></mat-progress-bar>

                    <br />

                    <div class="tecn-32">
                        <p>XAMPP</p>
                        <p Class="porc-32">90%</p>
                    </div>
                    <mat-progress-bar
                        mode="determinate"
                        value="90"
                    ></mat-progress-bar>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</body>
