.body {
    display: flex;

    .hab-ppal {
        display: flex;
        // flex-wrap: wrap;
        float: right;
        width: 59.375em;
        height: 31.25em;
        font-size: 1.25em;
        padding: 48px 160px 0px 160px;

        .mat-form-field + .mat-form-field {
            margin-left: 0.5em;
        }

        .hab11 {
            width: 21.875em;
            justify-content: right;
            margin: 0.625em;

            .tecn-11 {
                display: flex;

                .porc-11 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 192px;
                }
            }

            .tecn-12 {
                display: flex;

                .porc-12 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 200px;
                }
            }

            .tecn-13 {
                display: flex;

                .porc-13 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 168px;
                }
            }
        }

        .hab21 {
            width: 21.875em;
            justify-content: right;
            margin: 0.625em;

            .tecn-21 {
                display: flex;

                .porc-21 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 192px;
                }
            }

            .tecn-22 {
                display: flex;

                .porc-22 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 200px;
                }
            }

            .tecn-23 {
                display: flex;

                .porc-23 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 168px;
                }
            }
        }

        .hab31 {
            width: 21.875em;
            justify-content: right;
            margin: 0.625em;

            .tecn-31 {
                display: flex;

                .porc-31 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 192px;
                }
            }

            .tecn-32 {
                display: flex;

                .porc-32 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 200px;
                }
            }

            .tecn-33 {
                display: flex;

                .porc-33 {
                    align-items: center;
                    justify-content: space-between;
                    padding: 0px 0px 0px 168px;
                }
            }
        }
    }
}
