.body {
    display: flex;

    .ppal {
        float: right;
        height: 300px;
        padding: 6rem 1rem 10rem 0rem;
        font-size: 20px;
        text-align: left;

        .ppal1 {
            padding: 0rem 0rem 0rem 20rem;
            width: 300px;
            height: 30px;
            justify-content: right;
        }

        .ppal2 {
            padding: 0rem 0rem 0rem 20rem;
            width: 300px;
            height: 30px;
            justify-content: right;
        }

        .ppal3 {
            padding: 0rem 0rem 0rem 20rem;
            width: 300px;
            height: 30px;
            justify-content: right;
        }
    }

    .ppal4 {

        .form-reg {
            padding: 4rem 0rem 0rem 0rem;
            width: 710px;
            height: 500px;
            justify-content: left;
        }

        .reg_prop {
            width: 15rem;
        }
    }
}
