<app-header></app-header>

<body class="body">
<!--     <div class="ppal">
        <div class="ctc-ppal">
            <div class="ctc1">
                <h2>LLAMAME</h2>
                <P>+34 682 272 683</P>
            </div>

            <br />
            <br />
            <br />

            <div class="ctc2">
                <h2>CORREO</h2>
                <P>guidojorgelopinto@gmail.com</P>
            </div>

            <br />
            <br />
            <br />

            <div class="ctc3">
                <h2>UBICACION</h2>
                <P>Barcelona, Catalunya, España.</P>
            </div>
        </div>
    </div>

    <div class="ppal2">
        <div class="form-reg">

            <form [formGroup]="registerForm" (ngSubmit)="signUp()">

                <mat-form-field class="reg_prop">
                    <mat-label>Apellido</mat-label>
                    <input
                        matInput
                        placeholder="lastName"
                        value="lastName"
                        formControlName="lastName"
                    />
                </mat-form-field>

                <br />

                <mat-form-field class="reg_prop">
                    <mat-label>Nombre</mat-label>
                    <input
                        matInput
                        placeholder="name"
                        value="name"
                        formControlName="name"
                    />
                </mat-form-field>

                <br />

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input
                        type="email"
                        matInput
                        [formControl]="emailFormControl"
                        [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com"
                    />

                    <mat-error
                        *ngIf="
                            emailFormControl.hasError('email') &&
                            !emailFormControl.hasError('required')
                        "
                    >
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <br />

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Message</mat-label>
                    <input
                        matInput
                        #message
                        maxlength="256"
                        placeholder="Ex. I need help with..."
                    />
                    <mat-hint align="start"
                        ><strong>Don't disclose personal info</strong>
                    </mat-hint>
                    <mat-hint align="end"
                        >{{ message.value.length }} / 256</mat-hint
                    >
                </mat-form-field> -->

                <!-- <br />
                <br />
                <br />

                <button type="submit" mat-raised-button color="primary">Enviar</button>
            </form>
        </div>
    </div> -->
</body>
<app-footer></app-footer> -->
