          <!-- footer -->

          <div  id="footer" class="footer__container">
            <div class="footer container">

              <div class="footer__links">

                <a href="https://www.linkedin.com/">
                <img id= "fb" width= 25px, height= 25px, src="../../../assets/li.png" alt="li"></a>

                <a href="https://api.whatsapp.com/send?phone=1137664770">
                <img id= "wt" width= 25px, height= 25px, src="../../../assets/wt.png" alt="wt"></a>

                <a href="https://www.instagram.com/">
                <img id= "ig" width= 25px, height= 25px, src="../../../assets/ig.png" alt="ig"></a>

              </div>

              <div class="footer__info">
                <div class="footer__info--title">
                  <h5>By Guido Jorge Lo Pinto</h5>
                </div>
                <div class="footer__info--text">
                  <p>
                    Copyright © 2021 Guido Jorge Lo Pinto S.A.
                    El uso de este sitio web implica la aceptación de los Términos y Condiciones y
                    de las Políticas de Privacidad. Las fotos son a modo ilustrativo.</p>
                </div>
            </div>
          </div>
